@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
}
 body{
    font-family: "Poppins", sans-serif;
 }
 .container{
    max-width: 1200px;
    margin: 0 auto;
 }
 .header{
    background-image: linear-gradient( 
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7) ),
        url(images/portadamisterio1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
 }
 .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #FF5A2C;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li{
    position: relative;
    float: left;

}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    font-weight: 600;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #FF5A2C;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-container{
    text-align: center;
}
.header-container h1{
    font-size: 75px;
    line-height: 80px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-container p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}
.principal{
    padding: 100px 0;
    background-color: #e1e2e3;
    position: relative;
}
.principal-content {
    text-align: center;
}
.principal-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.principal-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.principal-1 img{
    width: 200px;
}
.principal-img{
    position: absolute;
    top: 0;
    right: 0;
}
.principal-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/portadamisterio2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}
.services-content{
    text-align: center;
}
.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}
.servicios-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-1{
    padding: 0 100px;
}
.services-1 img{
    width: 80px;
    margin-bottom: 15px;

}

.services-1 h3{
    color: #eabcb3;
    font-size: 18px;
}
.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}
.general-2{
    background-image: url(images/allanpoe.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3{
    background-image: url(images/edogawa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 45px 50px;
}
.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}
.bog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 230px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3{
    font-size: 25px;
    color: #323337;
}
h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price p{
    font-size: 17px;
    color: #FF5A2C;
}
.btn-2{
    padding: 5px 25px;
    background-color: #FF5A2C;
    margin-right: 0px;
}
.contact{
    padding: 150px 300px;
}
.contact-content{
    background-color: #8c8c8c;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input{
    padding: 18px 25px;
    background-color: #b5b5b5;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 17px;
}
::placeholder{
    color: #E0E0E0;
    font-size: 17px;
}
.btn-3{
    background-color: #666f88;
    cursor: pointer;
    margin-right: 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0; 
}
.link ul {
    display: flex;
}
.link ul li > a {
    font-size: 17px;
    color: #FF5A2C;
    margin-right: 20px;
}
.link ul li > a:hover{
    color: #3f3456;
}
@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-container{
        padding: 100px 30px;
    }
    .header-container p{
        padding: 0;
    }
    .principal{
        padding: 30px;
    }
    .principal-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .principal-group{
        flex-direction: column;
        margin-bottom: 0
    }
    .principal-img{
        display: none;
    }
    .services{
        padding: 30px;
    }
    .services-content p{
        padding: 0;
    }
    .servicios-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .services-1{
        margin-bottom: 25px;
    }
    .general{
        flex-direction: column;
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-2,.general-3{
        display: none;
    }
    .blog{
        padding: 30px;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-1{
        padding: 0;
    }
    .contact {
        padding: 30px;
    }
    form{
        flex-direction: column;
    }
    input{
    margin: 0 0 20px 0;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .link ul {
        margin-top: 20px;
    }

  }
